:root {
    --color-principal: #e7f018;
    --color-secundario: #959366;
    --color-blanco-tema: #fbfaee;
    --color-negro-tema: #1d1c0d;
    --color-negro: #000000;
    --color-blanco: #ffffff;
    --texto-principal: "Cossette Texte", sans-serif;
    --texto-secundario: "David Libre", serif;
}

#nav__menu {
    display: none;
}

.is-active {
    display: block;
}

.is-flex {
    display: flex;
}

.opciones__funcionales {
    position: fixed;
    display: flex;
    top: 100px;
    width: 100%;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    background-color: var(--color-negro-tema);
    color: var(--color-blanco);
    font-family: var(--texto-secundario);
    font-weight: 700;
    border-top: 1px solid var(--color-principal);
    border-bottom: 1px solid var(--color-principal);
    -webkit-text-stroke: 1px var(--color-secundario);
}

.opciones__funcionales p {
    text-align: center;
    width: 110px;
    transition: transform 0.4s;
}

.opciones__funcionales p:hover {
    transform: translateY(-2px);
    box-shadow: 0px 1px 4px 2px var(--color-principal);
    cursor: pointer;
    border-radius: 10px;
}




.header__datos.is-active {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 60px;
    transition: transform 0.3s;
}

.header__datos:hover {
    transform: translateY(-3px);
    border-bottom: 1px solid var(--color-principal);
    cursor: pointer;
}

.header--nombre {
    display: block;
    justify-content: space-around;
    font-size: 2rem;
    color: var(--color-blanco);
    font-family: var(--texto-secundario);
    font-weight: 700;
    -webkit-text-stroke: 1px var(--color-secundario);
}

.header--flecha {
    display: block;
    width: 20px;
    height: 20px;
}

.header--rutina {
    transform: translateY(-3px);
    border-bottom: 1px solid var(--color-blanco-tema);
    box-shadow: 0px 1px 4px 2px var(--color-blanco-tema);
    border-radius: 10px;
}

.opciones__ingreso a {
    text-decoration: none;
    color: var(--color-blanco);
}


.header--modal__opciones {
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 40px;
    right: 230px;
    text-align: center;
    width: 15%;
    height: 10vh;
    z-index: 4;
    margin-top: 30px;
    background-color: var(--color-negro);
    box-shadow: -1px 2px 6px 0px var(--color-principal);
    overflow: hidden;
    border: 1px solid var(--color-principal);
    border-radius: 0px 0px 10px 10px;
}

.header--modal__opciones:hover {
    cursor: pointer;
}

.header--modal__opciones p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    color: var(--color-blanco);
    transition: transform 0.3s;
}

.header--modal__opciones p:hover {
    font-family: var(--texto-secundario);
    background-color: var(--color-negro-tema);
    color: var(--color-principal);
    transform: translate(5px);
}


.main--opcion__titulo{
    display: none;
}