:root {
    --color-principal: #e7f018;
    --color-secundario: #959366;
    --color-blanco-tema: #fbfaee;
    --color-negro-tema: #1d1c0d;
    --color-negro: #000000;
    --color-blanco: #ffffff;
    --texto-principal: "Cossette Texte", sans-serif;
    --texto-secundario: "David Libre", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--texto-principal);
}

body {
    height: auto;
    width: 100%;
    background-color: var(--color-negro-tema);
    color: var(--color-blanco-tema);
}

header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    height: 100px;
    width: 100%;
    background-color: var(--color-negro);
    font-family: var(--texto-secundario);
}

header h1 {
    font-size: 2.5rem;
}


.opciones__ingreso {
    display: none;
}

.hidden {
    overflow: hidden;
}

.opciones__funcionales {
    display: none;
}

.header__datos {
    display: none;
}

.header--nombre {
    display: none;
}

.header--flecha {
    display: none;
}

.header--modal__opciones {
    display: none;
}

header img {
    height: 45px;
    width: 45px;
    border-radius: 20px;
}

header>img:last-child {
    border-radius: 0;
}

#nav__menu {
    display: block;
}


main {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    /*eje en x */
    align-items: center;
    width: 100%;
    height: 100vh;
}

.main--opcion__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    height: 40px;
    width: 100%;
    font-family: var(--texto-secundario);
    background-color: var(--color-negro-tema);
    border-top: 1px solid var(--color-principal);
    border-bottom: 1px solid var(--color-principal);
    box-shadow: 0px 1px 4px 2px var(--color-principal);
}

.main--rutina__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 400px;
    width: 100%;
    background-color: var(--color-negro);
}

.main--rutina__container h2 {
    font-size: 2rem;
    margin: 10px 0;
    -webkit-text-stroke: 1px var(--color-negro-tema);
}

.rutina__semana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 20px 0;
    height: 55px;
    width: 100%;
    background-color: var(--color-negro-tema);
}

.rutina__semana tr {
    display: grid;
    height: 55px;
    grid-template-columns: repeat(7, 1fr);
}

.rutina__semana td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 0.3s;

}

.rutina__semana td:hover {
    transform: scaleX(1.1);
    background-color: var(--color-secundario);
    border-radius: 7px;
    box-shadow: 0px 1px 4px 2px var(--color-principal);
}

.main--modal__opcionesActivo {
    display: none;
}

.main--modal__opciones {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 4;
    margin-top: 30px;
    background-color: var(--color-negro);
    overflow: hidden;
}




.main--modal__opciones a {
    text-decoration: none;
    color: var(--color-blanco-tema);
}

.main--modal__opciones h2 {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 3rem;
    margin: 200px 0;
    padding: 5px 0;
    box-shadow: 0px 0px 10px var(--color-principal);
    text-shadow: var(--color-negro) 3px 1px 5px;
    background-color: var(--color-secundario);
}

.main--modal__opciones :is(.modal__opciones--nombre,
    .modal__opciones--concluir,
    .modal__opciones--dieta,
    .modal__opciones--rutina,
    .modal__opciones--mediciones,
    .modal__opciones--calculadora) {
    display: none;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 2rem;
    margin: 70px 0;
    padding: 5px 0;
    box-shadow: 0px 0px 10px var(--color-principal);
    text-shadow: var(--color-negro) 3px 1px 5px;
    background-color: var(--color-negro);
}

.main--modal__opciones h2 {
    text-align: center;
    width: 100%;
    height: 35px;
    font-size: 2rem;
    margin: 100px 0;
    padding: 5px 0;
    box-shadow: 0px 0px 10px var(--color-principal);
    text-shadow: var(--color-negro) 3px 1px 5px;
    background-color: var(--color-negro);
}

.main--modal__opciones img {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 10px var(--color-principal);
}